* {
  color: white;
}

.hero {
  height: 90%;
  width: 100%;
  display: flex;
  /* align-items: center; */
  background: linear-gradient( rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)), url('src/assets/headshot.jpg') no-repeat ;
  /* background-position: center; */
}

.hero-container {
  padding: 0 50px;
  margin: 80px auto;
  max-width: 1000px;
  display: flex;
  justify-content: end;
}

.hero-badge {
  margin-bottom: 10px;
  /* margin-right: 70%; */
}


.hero-badge-text {
  color: var(--hero-button);
  font-weight: 800;
  font-size: 0.8rem;
  font-family: var(--header-font);
  background-color: var(--white);
  padding: 6px 20px;
  border-radius: 40px;
  max-width: max-content;
}

.hero-badge-img {
  margin-right: 70%;
}

.div-hero-header {
  margin: 10px 0;
}

.hero-header {
    font-size: 3rem;
    font-weight: 800;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 16px;
    max-width: 900px;
}

.div-hero-paragraph {
  margin: 20px 0;
}

.hero-paragraph {
  font-size: 1.1rem;
  font-family: "inter";
}
.hero-btn {
  margin-top: 25px;
  margin-right: 80%;
  padding: 20px 20px;
  background-color: var(--hero-button);
  border: 0;
  font-weight: 600;
  border-radius: 8px;
}
